.container {
  width: 70%;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.788);
}

h1 span {
  color: peru;
}

img {
  width: 100%;
}
.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 2px solid red;
}
.col-1 {
  width: 20%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 70%;
}
.col-bg {
  background-color: rgba(0, 0, 0, 0.822);
  color: whitesmoke;
  padding: 15px;
  margin: 15px 0px;
  color:cre
}



@media screen and (max-width: 768px) {
  .columns {
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}
